@layer components {
    .BottomNavigation {
        @apply sticky bottom-0 bg-secondly py-[8px] overflow-hidden duration-600;
        grid-area: control;
        transition-property: background-color;
        overflow: hidden;

        &.navigation--edit,
        &.navigation--duplicate {
            @apply bg-grayscale-850;
        }

        .navigation {
            @apply w-full h-full flex items-center justify-end px-7;
            transform: translate(0, 100%);
            animation-name: slideUp;
            animation-duration: 1200ms;
            animation-timing-function: var(--easeOutExpo);
            animation-iteration-count: 1;
            animation-fill-mode: both;
            container-type: inline-size;
            container-name: persona-detail-navigation;
        }

        .group {
            @apply absolute right-0 top-0 h-full flex items-center justify-end gap-2 px-7 py-[8px] duration-1200 ease-outExpo;
            transition-property: transform;

            &.group--hide {
                @apply pointer-events-none;
                transform: translate(0, 100%);
            }

            &.group--show {
                @apply duration-600;
                transform: translate(0, 0);
            }

            &.group--talk {
                @apply right-[auto] left-[50%];
                transform: translate(-50%, 0);

                .Btn {
                    .icon {
                        path {
                            @apply stroke-quaternary;
                        }
                    }

                    @media (hover: hover) {
                        &:hover {
                            .icon {
                                path {
                                    @apply stroke-primary;
                                }
                            }
                        }
                    }
                }

                @container persona-detail-navigation (min-width:821px) {
                    &.group--hide {
                        transform: translate(-50%, 100%);
                    }
                }

                @container persona-detail-navigation (max-width:820px) {
                    left: 0;
                    transform: translate(0, 0);

                    &.group--hide {
                        transform: translate(0, 100%);
                    }
                }
            }

            &.group--center {
                @apply relative mx-auto;

                .Btn {
                    @apply min-w-[160px];
                }
            }
        }
    }

    .BottomNavigation--edit,
    .BottomNavigation--duplicate {
        @apply bg-grayscale-850;
    }
}
